<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.example.sedgw.pipboy_v11">

    <!--
         The ACCESS_COARSE/FINE_LOCATION permissions are not required to use
         Google Maps Android API v2, but you must specify either coarse or fine
         location permissions for the 'MyLocation' functionality. 
    -->
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.WRITE_INTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.MANAGE_DOCUMENTS" />
    <uses-permission android:name="android.permission.RECEIVE_SMS" />
    <uses-permission android:name="android.permission.READ_SMS" />
    <uses-permission android:name="android.permission.SEND_SMS" />
    <uses-feature android:name="android.hardware.location.gps" />

    <application
        android:name=".MyApp"
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AllTheme">
        <activity
            android:name=".MainActivity"
            android:screenOrientation="landscape">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".AboutActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>

        <!-- Maps activity -->
        <activity
            android:name=".OSMMapsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>

        <!-- Activity for working with DB -->
        <activity
            android:name=".database.DBfirstActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".database.DBmainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".database.DBviewActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>

        <!-- Activity for admin -->
        <activity
            android:name=".admin.AdminMainActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".admin.AdminListActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".admin.AdminSettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".admin.AdminContactActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme" />

        <!-- Settings activity -->
        <activity
            android:name=".SettingsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>
        <activity
            android:name=".ActivityCheckNavigation"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme"/>

        <!-- weather activity -->
        <activity
            android:name=".WeatherActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme" />

        <!-- sms activity -->
        <activity
            android:name=".sms.SmsActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme" />
        <activity
            android:name=".sms.SmsSendActivity"
            android:screenOrientation="landscape"
            android:theme="@style/AllTheme" />
        <receiver android:name=".sms.SMSMonitor">
            <intent-filter android:priority="100">
                <action android:name="android.provider.Telephony.SMS_RECEIVED"/>
            </intent-filter>
        </receiver>

        <!-- alert dialog new message -->
        <activity
            android:name=".sms.ServiceDialogNewMessage"
            android:screenOrientation="landscape"
            android:theme="@android:style/Theme.Dialog" />

    </application>

</manifest>